.form {
  width: auto;
  height: auto;
  border: 1px;
  border-radius: 5px;
  padding: 50px;
  margin: 2%;
  background-color: aliceblue;
  }

.userData {
  width: auto;
  border: 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 1%;
  background-color: aliceblue;
}

.span {
margin-left: 70px;
}

  